header {
    position: fixed;
    width: 100%;
    top: 0;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 64em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*noinspection CssOptimizeSimilarProperties*/
.content {
    max-width: 74em;
    padding-top: 5.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
}

.float-button {
    bottom: 1.5em;
}